p{
    color:aqua;
}
h1{
    color: darksalmon;
}
li{
    color:lightblue;
}
li.pro2
{
    color:lightpink;
    font-weight: bold;
}
li em{
    color: rebeccapurple;
  }
h1 + p {
    font-size: 200%;
  }
a:link {
    color:black;
}
a:visited {
    color:pink;
}
a:hover {
    text-decoration: none;
  }
